* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #262626;
  --secondary: #2271d1;
  --dark-blue: #03122F;
  --dark-blue-transparent: #03122fa4;
  --dark: #1c1c1c;
  --white: #fff;
  --black: #000;
}

.public-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */

.header {
  background-color: var(--primary);
  height: 4rem;
  border-bottom: 3px solid var(--secondary);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.header__logo {
  height: 2rem;
  width: auto;
}

.header__nav {
  display: flex;
  gap: 1.5rem;
}

/* main */

.mainframe {
  flex: 1;
  background-color: var(--dark);
  color: var(--white);
}

/* home page */


/* banner section */

.home-page__container {
  max-width: 1440px;
  margin-inline: auto;
}

.home-page__banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 4rem);
  max-height: 900px;
}

.banner__img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
}

.banner__content {
  position: relative;
  height: 100%;
  background: var(--dark-blue-transparent);
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  gap: 5rem;
  place-items: center;
  padding-inline: 2rem;
}

.banner__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner__text h1 {
  width: fit-content;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #6bd1ff;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
}

.banner__text p {
  font-size: 1.5rem;
  font-weight: 400;
}

.banner__text small {
  font-size: 1rem;
}

/* videos section */

.home-page__categories {
  padding: 0 2rem;
}

.category__container {
  margin-block: 4rem;
}

.category__title {
  margin-bottom: 1rem;
}

.category__videos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.video__container {
  background-color: var(--black);
  border-radius: 1rem;
  overflow: hidden;
}

.video__buttons {
  display: flex;
}

.video__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  background-color: transparent;
  color: var(--white);
}

.video__btn:hover {
  color:#ffba05;
}



/* footer */

.footer {
  background-color: var(--primary);
  height: 6rem;
  border-top: 3px solid var(--secondary);
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
}

/* Custom Button */

.btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.btn--primary {
  background-color: var(--secondary);
  color: var(--white);
}

.btn--primary:hover {
  box-shadow: 0 0 10px var(--secondary);
}

.active {
  background-color: var(--white);
  color: var(--black);
}

.active:hover {
  box-shadow: 0 0 10px var(--white);
}

/* Custom Title Tag */

.title-tag {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--white);
  padding-block: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
  border-radius: .5rem;
}

.title-tag.primary {
  background-color: #00c86f;
}

.title-tag.secondary {
  background-color: #6bd1ff;
}

.title-tag.tertiary {
  background-color: #ffba05;
}

/* Edit Card Modal */

.edit-card-modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100VW;
  height: 100vh;
  background: var(--dark-blue-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}


.edit-card-modal__container {
  position: relative;
  width: 500px;
  background-color: var(--dark);
  padding: 2rem 4rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  border : 3px solid var(--secondary);
}

.edit-card-modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.edit-card-modal__close:hover {
  box-shadow: 0 0 10px var(--white);
}

.edit-card-modal__container h1 {
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
}

.edit-card-modal__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-field__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form-field__container label {
  color: var(--white);
}

.form-field__container input,
.form-field__container select,
.form-field__container textarea {
  padding: .5rem .75rem;
  border-radius: .5rem;
  border: 1px solid var(--secondary);
  outline: none;
  background-color: transparent;
  color: var(--white);
}

.form-field__container input::placeholder,
.form-field__container textarea::placeholder {
  color: var(--white);
  opacity: .4;
}

.form-field__container input:focus,
.form-field__container select:focus,
.form-field__container textarea:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 10px var(--secondary);
}

.form-field__container textarea {
  resize: none;
  height: 100px;
}

.edit-card-modal__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.edit-card-modal__buttons button {
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: 2px solid var(--secondary);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  background-color: transparent;
  color: var(--secondary);
}

.edit-card-modal__buttons button:hover {
  box-shadow: 0 0 10px var(--white);
  color: var(--white);
  border: 2px solid var(--white);
}

.form-field__container select option {
  color: var(--black);
}